<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <!-- Incluye el CSS de Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 h-screen flex items-center justify-center">
<section th:fragment="register" class="w-full h-full flex justify-center items-center">
    <form th:action="@{/registro}" th:object="${registro}" method="post"
          class="w-full max-w-md bg-gray-200 p-10 rounded-2xl border-2 border-solid border-gray-300 shadow-lg flex flex-col justify-evenly mt-8">

        <img src="https://res.cloudinary.com/danfh3urz/image/upload/v1718682832/IMG/Register.png"
             width="100" height="50" class="mx-auto mt-4">

        <h1 class="text-center text-4xl font-bold mb-6">REGISTRAR</h1>

        <div class="mb-4">
            <input type="text" placeholder="Nombre" th:field="*{first_name}"
                   class="w-full p-2 rounded border-b-2 border-fuchsia-600 focus:outline-none focus:border-pink-500">
        </div>

        <div class="mb-4">
            <input type="text" placeholder="Apellido" th:field="*{last_name}"
                   class="w-full p-2 rounded border-b-2 border-fuchsia-600 focus:outline-none focus:border-pink-500">
        </div>

        <div class="mb-4">
            <input type="email" placeholder="Correo" th:field="*{email}"
                   class="w-full p-2 rounded border-b-2 border-fuchsia-600 focus:outline-none focus:border-pink-500">
        </div>

        <div class="mb-4">
            <input type="password" placeholder="Contraseña" th:field="*{password}"
                   class="w-full p-2 rounded border-b-2 border-fuchsia-600 focus:outline-none focus:border-pink-500">
        </div>

        <div class="mb-4">
            <label for="description" class="block text-gray-700 mb-2">Descripción</label>
            <textarea id="description" th:field="*{description}"
                      class="w-full p-2 rounded border-2 border-fuchsia-600 focus:outline-none focus:border-pink-500"
                      style="height: 99px;"></textarea>
        </div>

        <input type="submit" value="Enviar"
               class="w-full h-12 bg-blue-700 rounded-xl hover:bg-blue-500 transition duration-300 text-white mx-auto shadow-2xl cursor-pointer">
    </form>
</section>
</body>
</html>
